<?xml version='1.0' encoding='utf-8'?>
<widget id="io.framework7.myapp" version="1.0.0"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">

  <name>Im Job</name>
  <description>Hybrid AI app</description>
  <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
    Apache Cordova Team
  </author>

  <content src="index.html" />

  <!-- Externi domeni -->
  <access origin="https://fluffycave.nl" />
  <allow-navigation href="https://fluffycave.nl/*" />
  <allow-navigation href="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />

  <!-- GLOBALNE preferencije -->
  <preference name="Fullscreen" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="BackupWebStorage" value="local" />
  <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
  <preference name="AllowInlineMediaPlayback" value="true" />
  <preference name="Suppresses3DTouchGesture" value="true" />
  <preference name="Allow3DTouchLinkPreview" value="false" />

  <!-- Android -->
  <platform name="android">
    <preference name="android-minSdkVersion" value="22" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#ffffff" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="SplashScreen" value="screen" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <preference name="ShowSplashScreenSpinner" value="false" />

    <!-- Android Ikonice (moraju biti PNG) -->
<!-- Android Ikonice (moraju biti PNG) -->
<icon density="mdpi" src="res/icon/android/mipmap-mdpi/ic_launcher.png" />
<icon density="hdpi" src="res/icon/android/mipmap-hdpi/ic_launcher.png" />
<icon density="xhdpi" src="res/icon/android/mipmap-xhdpi/ic_launcher.png" />
<icon density="xxhdpi" src="res/icon/android/mipmap-xxhdpi/ic_launcher.png" />
<icon density="xxxhdpi" src="res/icon/android/mipmap-xxxhdpi/ic_launcher.png" />



    <!-- Splash ekrani -->
    <splash density="port-mdpi" src="res/screen/android/drawable-mdpi/screen.png" />
    <splash density="port-hdpi" src="res/screen/android/drawable-hdpi/screen.png" />
    <splash density="port-xhdpi" src="res/screen/android/drawable-xhdpi/screen.png" />
    <splash density="port-xxhdpi" src="res/screen/android/drawable-xxhdpi/screen.png" />
    <splash density="port-xxxhdpi" src="res/screen/android/drawable-xxxhdpi/screen.png" />
  </platform>

  <!-- iOS -->
  <platform name="ios">
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <preference name="AllowInlineMediaPlayback" value="true" />

    <config-file parent="CFBundleAllowMixedLocalizations" platform="ios" target="*-Info.plist">
      <true />
    </config-file>

    <!-- Ispravno postavljena iOS ikonica -->
    <icon height="180" width="180" src="res/icon/ios/icon-60x60@3x.png" />
    <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
  </platform>
</widget>
